

#cft .dl_file {
    background-color: #ebebeb;
    width: 400px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px 5px 0 5px;
    margin: 7px 5px;   
}    

#cft .dl_file input {
    display: none;   
}  

#cft .dl_file dd {
    font-size: .05em; 
    vertical-align: baseline;  
} 

#cft .dl_file dd a {
    font-size: 20em;
    margin-top: 10px;   
}  

#cft .dl_file dd p a {
    font-size: 1em;
    margin-top: 10px;   
} 


    